<div id="start-container">
  <main class="main w-100 m-auto">
    <a routerLink="/" class="w-100 btn btn-lg btn-primary">Back to main screen</a>
    <h1>Space points</h1>
    <p>
      This game is a solo drafting game: every turn you buy a card and gain its effects. You try to get as many points
      as possible after 20 turns!
    </p>
    <h2>Screen</h2>
    <p>
      At the top of the screen you can see the current status of the game:
    </p>
    <ul>
      <li>The turn counter</li>
      <li>The number of resources you have (money, points, etc)</li>
      <li>The amount of production per resource (money production, point production, etc)</li>
    </ul>
    <p>
      In the middle of the screen you see a list of cards from which you can buy one every turn. At the bottom of the
      screen you can see the milestones that are active during the game. Milestones are grayed out, until you achieved
      it. You can click on each milestone to see its details.
    </p>

    <h2>Turn</h2>
    <p>
      Every turn you are given a choice of four cards. One of those cards is always "Trigger Production". This card is
      free and increases your points and money by as much as you have point and money production. The other three cards
      can have any kind of effect. See below for a full list of all the cards.
    </p>
    <h2>Milestones</h2>
    <p>
      Every game, a random set of milestones are selected. Each milestone always has the same concept: you have to
      satisfy certain requirements. If you satisfy the requirements at the end of the turn, you gain the milestone and
      are awarded a number of resources. You can gain as many milestones per turn. These are the full list of
      milestones:
    </p>
    <ul>
      <li *ngFor="let milestone of getAllMilestones()">
        {{ milestone.name }} ({{milestone.pointsReward}} points): {{ milestone.requirements }}.</li>
    </ul>
    <h2>Cards</h2>
    <p>
      TODO: fill this when the game is more finalized.
    </p>

    <a routerLink="/" class="w-100 btn btn-lg btn-primary">Back to main screen</a>
  </main>
</div>
