<!--suppress HtmlRequiredAltAttribute -->
<div class="s-card"
     (click)="clickOnCard()"
     [@flipState]="flipState"
     [class]="classes.join(' ')">
  <div class="s-card-container">

    <app-frame [canBeBought]="canBeBought()"
               [showIfHealthIsHigherThan]="card.showIfHealthIsHigherThan !== undefined"
               [showIfHealthIsLowerThan]="card.showIfHealthIsLowerThan !== undefined"></app-frame>

    <div class="s-card-top w-100">
      <div class="s-card-cost-container">
        <span>
          {{ card.cost }}
        </span>
      </div>

      <div class="s-card-health-higher-container">
        <span *ngIf="card.showIfHealthIsHigherThan !== undefined">
          {{ card.showIfHealthIsHigherThan }}
        </span>
      </div>
      <div class="s-card-health-lower-container">
        <span *ngIf="card.showIfHealthIsLowerThan !== undefined">
          {{ card.showIfHealthIsLowerThan }}
        </span>
      </div>
    </div>

    <img class="s-card-img" src="/assets/card/Rocket.jpg"/>

    <div class="s-card-content">
      <div>
        <div style="height: 27px;" #cardTitleContainer>
          <span class="s-card-title" #cardTitle>
            {{ card.title.toUpperCase() }}
          </span>
        </div>
        <div style="height: 50px;" #cardDescriptionContainer>
          <span class="s-card-description" #cardDescription>
            {{ card.descriptionGame(gameState) }}
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
