.s-card {
  background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
  padding: 5px;
  height: 200px;
  width: 156px;
  border-radius: 5px;
}

.s-card-container {
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  height: 100%;
}

.can-not-be-bought {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%) !important;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.can-be-bought:hover {
  box-shadow: 5px 5px 30px 7px rgba(var(--bs-primary-rgb),0.1), -5px -5px 30px 7px rgba(var(--bs-primary-rgb),0.1) !important;
}

.s-card-cost-container {
  width: 100%;
}

.s-card-cost-container > span {
  color: black;
  background: var(--bs-warning);
  height: 26px;
  width: 26px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  margin-right: 6px;
}

.s-card-image-container {
  width: 100%;
  height: auto;
  display: flex;
}

.s-card-image-container > img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.s-card-title {
  text-align: center;
}

.s-card-description {
  text-align: center;
}

