<div id="start-container">
  <main class="main m-auto text-center">
    <h1>
      Congratulations! You finished the game and killed <span class="color-points">{{ this.state }}</span>
      flagships.
    </h1>
    <form>
      <div class="row mt-5">
        <div class="col">
          <input name="name" type="text" class="form-control mb-2" id="inlineFormInput"
                 placeholder="Name" [(ngModel)]="name" maxlength="20">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button (click)="submit()" class="w-100 btn btn-lg btn-light">Submit</button>
        </div>
        <div class="col">
          <a routerLink="/" class="w-100 btn btn-lg btn-light">To menu</a>
        </div>
      </div>
    </form>
  </main>
</div>
