.single-item {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.modal-content {
  background-color: black;
  border: 2px solid white;
}

h1 {
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  font-size: 29px !important;
  line-height: 29px;
}
