<div class="row justify-content-center border border-primary">
  <div class="col">
    <h1>Turn {{ this.gameState.turnCounter }} / {{ this.gameState.maxNrOfTurns }}</h1>
    <p>Produce counter {{ this.gameState.productionCounter }}</p>
  </div>
  <div class="col">
    <h3>Resources</h3>
    <table>
      <tbody>
      <tr>
        <td>Points</td>
        <td>{{ this.gameState.points }}</td>
      </tr>
      <tr>
        <td>Money</td>
        <td>{{ this.gameState.money }}</td>
      </tr>
      <tr>
        <td>Science</td>
        <td>{{ this.gameState.science }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <h3>Production</h3>
    <table>
      <tbody>
      <tr>
        <td>Point Production</td>
        <td>{{ this.gameState.pointProduction }}</td>
      </tr>
      <tr>
        <td>Money Production</td>
        <td>{{ this.gameState.moneyProduction }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col d-flex align-items-center justify-content-end">
    <a routerLink="/" class="btn btn-lg btn-danger">Quit</a>
  </div>
</div>
